-- SQL to add comprehensive car list to the database
-- All cars will have placeholder images that can be updated later
-- Pricing is set based on typical Goa car rental rates

-- First, let's add any missing brands

-- Now add all the cars

-- Summary of cars added
SELECT 
  'Cars Added Successfully' as status,
  COUNT(*) as total_cars_in_database
FROM cars;

-- Summary by category
SELECT 
  category,
  COUNT(*) as car_count,
  MIN(price_per_day) as min_price,
  MAX(price_per_day) as max_price
FROM cars 
GROUP BY category 
ORDER BY min_price;
